node_modules
.vinxi
.output
.git
.vscode
dist
misc/wisp/native/target
misc/wisp/zig-client/.zig-cache
misc/wisp/zig-client/zig-out
misc/obfuscatti/.zig-cache
misc/obfuscatti/zig-out
misc/obfuscatti/zig-pkg
data/