* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

$row-height: 100vh - 15vh;

body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0px;
  background-color: #1e1e2e;
  width: 100%;
  height: 100vh;

  .settings-section {
    width: 100%;
    height: 100vh;
    background-color: #313244;
    display: flex;
    flex-direction: column;

    h2 {
      font-family: "Schibsted Grotesk", sans-serif;
      color: #9399b2;
      font-size: 13px;
      font-weight: 500;
    }
  }
}