---
import type { GetStaticPathsResult } from "astro";
import Proxy from "~/components/settings/Proxy.astro";
import Transport from "~/components/settings/Transport.astro";
import "~/styles/settings-errors.scss";
import "~/styles/settings.scss";

export function getStaticPaths(): GetStaticPathsResult {
  return [
    { params: { setting: "proxy" } },
    { params: { setting: "look" } },
    { params: { setting: "transport" } },
    { params: { setting: "wisp-or-bare" } },
  ];
}
export const prerender: boolean = true;
const { hash } = Astro.url;
const { setting } = Astro.params;

let SettingComponent: any = null;

switch (setting) {
  case "proxy":
    SettingComponent = Proxy;
    break;
  case "look":
    // TODO
    break;
  case "transport":
    SettingComponent = Transport;
    break;
  case "wisp-or-bare":
    // TODO
    break;
}
---

<script is:inline src="/localforage/localforage.min.js"></script>

{
  hash === "#null" && (
    <div class="settings-error-invalid-hash">
      <p>Invalid Hash</p>
      <span>Try removing {hash} from the URL.</span>
    </div>
  )
}

<div class="main">
  {SettingComponent && <SettingComponent />}
</div>
